include header


section.category.wrapper-column
    h2 #{cat[0]['category']}
    div.wrap-product.center
        each val, index in goods
                div.product 
                    a(href="goods?id="+val['id']) 
                        p.product-title #{val.name}
                        img(src="img/"+val.image alt="foto" class="product__img")
                        h3.product-cost #{val.cost.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} ₽
                    button(
                        class="add-to-cart"
                        data-goods_id=val['id']
                        ) В КОРЗИНУ
                    
include footer